---
import { Image } from 'astro:assets';
import hero2 from '../assets/img/hero2.jpg';
---

<section id='inicio' class='inicio'>
	<div class='contenido-banner'>
		<div class='contenedor-img'>
			<Image src={hero2} alt='Retrato de Javier Curto Brull' width='250' loading='eager' />
		</div>
		<h1>JAVIER CURTO</h1>
		<h2>Desarrollador Backend</h2>
		<h2>Java Spring</h2>
		<div class='redes'>
			<a href='https://www.linkedin.com/in/javier-curto-brull/' aria-label='Linkedin link' target='_blank'
				><i class='fa-brands fa-linkedin-in'></i></a
			>
			<a href='https://x.com/JvrCrtB' aria-label='X link' target='_blank'><i class='fa-brands fa-twitter'></i></a>
			<a href='https://github.com/CurtoBrull' aria-label='Github link' target='_blank'
				><i class='fa-brands fa-github'></i></a
			>
		</div>
	</div>
</section>

<style>
	.inicio {
		background: linear-gradient(to top, rgba(30, 35, 38, 0.8), rgba(30, 35, 38, 1)), url(../img/fondo.jpg);
		background-size: cover;
		color: #fff;
		display: flex;
		align-items: center;
		padding-top: 50px;
	}

	.inicio .contenido-banner {
		padding: 40px 10px 10px 10px;
		background-color: #1e2326;
		max-width: 350px;
		margin: 40px auto 20px auto;
		text-align: center;
		border-radius: 40px;
	}

	.inicio .contenido-banner img {
		border: 10px solid var(--baseColor);
		display: block;
		width: 80%;
		margin: auto;
		margin-top: 40px;
		border-radius: 100%;
	}

	.inicio .contenido-banner h1 {
		margin-top: 40px;
		font-size: 42px;
		font-family: 'Righteous', serif;
	}

	.inicio .contenido-banner h2 {
		font-size: 20px;
		font-weight: normal;
	}

	.inicio .contenido-banner .redes a,
	footer .redes a {
		color: #fff;
		display: inline-block;
		text-decoration: none;
		border: 1px solid #fff;
		border-radius: 100%;
		width: 42px;
		height: 42px;
		line-height: 42px;
		margin: 40px 5px;
		font-size: 20px;
		transition: 0.3s;
	}

	.inicio .contenido-banner .redes a:hover {
		background-color: var(--baseColor);
	}
</style>
