---
import { Image } from 'astro:assets';
import webJCB from '../assets/img/webAstroJCB.webp';
import apiSpring from '../assets/img/API_SPRING.webp';
import astro from '../assets/img/astro.svg';
---

<section id='portfolio' class='portfolio'>
	<div class='contenido-seccion'>
		<h2>PORTFOLIO</h2>
		<p class='portfolio-text'>¡Echa un vistazo a algunos de mis proyectos anteriores y actuales!</p>
		<p class='astro-text'>
			Este portfolio ha sido desarrollado con
			<Image src={astro} alt='Astro' class='astro-icon' width='30' loading='eager' />
		</p>
		<div class='galeria'>
			<div class='proyecto'>
				<a href='https://github.com/CurtoBrull/AstroJCB' target='_blank'>
					<Image src={webJCB} alt='Imágen del proyecto web personal Astro' width='300' loading='eager' />
					<div class='overlay'>
						<h3>Web Personal</h3>
						<p>Web realizada con el framework ASTRO</p>
					</div>
				</a>
				<hr />
				<h4>Web personal ASTRO</h4>
				<p>Web simple utilizando ASTRO donde mostrar mis proyectos, habilidades y datos de contacto.</p>
			</div>
			<div class='proyecto'>
				<a href='https://github.com/CurtoBrull/Spring-crud-jpa' target='_blank'>
					<Image src={apiSpring} alt='Imagen del proyecto API Spring JPA' width='300' loading='eager' />
					<div class='overlay'>
						<h3>API con Spring JPA</h3>
						<p>Aplicación básica para gestionar y consultar productos a través de una API</p>
					</div>
				</a>
				<hr />
				<h4>API Spring JPA</h4>
				<p>
					Todo backend debe saber crear APIS, CRUDs, etc. <br /> En este pequeño proyecto he usado Spring JPA para crear
					unos pocos endpoints para consultar y almacenar datos de productos.
				</p>
			</div>
		</div>
	</div>
</section>

<style>
	.portfolio {
		background-color: #252a2e;
		color: #fff;
		padding: 50px 20px;
	}

	.portfolio .contenido-seccion {
		max-width: 1100px;
		margin: auto;
	}

	.portfolio h2 {
		font-size: 48px;
		font-family: 'Righteous', serif;
		text-align: center;
		padding: 20px 0;
	}

	.portfolio h4 {
		font-size: 1.5rem;
		font-family: 'Righteous', serif;
		margin: 10px 0;
		text-align: center;
	}

	.portfolio .galeria {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.portfolio .galeria .proyecto {
		position: relative;
		max-width: 340px;
		height: fit-content;
		margin: 10px;
		cursor: pointer;
	}

	.portfolio .galeria .proyecto img {
		width: 100%;
		height: 250px;
		display: block;
	}

	.portfolio .galeria .proyecto .overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		background: linear-gradient(rgba(28, 182, 152, 0.8), var(--baseColor));
		display: flex;
		flex-direction: column;
		justify-content: center;
		transition: 1s;
		font-size: 18px;
		letter-spacing: 3px;
		opacity: 0;
		color: #fff;
	}

	.portfolio .galeria .proyecto .overlay h3 {
		margin-bottom: 20px;
		transition: 1s;
	}

	.portfolio .galeria .proyecto .overlay:hover {
		opacity: 1;
	}

	.portfolio .galeria .proyecto .overlay:hover h3 {
		margin-bottom: 0;
	}

	.portfolio .galeria .proyecto .imagen-grande {
		display: none;
		position: absolute;
		top: 0;
		transform: translate(-50%, -102%);
		z-index: 9999;
		width: 800px;
		opacity: 0;
		transition:
			opacity 0.5s,
			display 0.5s;
	}

	.portfolio .galeria .proyecto:hover .imagen-grande {
		display: block;
		opacity: 1;
	}

	.portfolio-text {
		text-align: center;
		margin: 0 0 15px 0;
	}

	.portfolio .astro-text {
		text-align: center;
		margin: 20px 0;
		color: var(--baseColor);
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.astro-icon {
		margin-left: 5px;
	}
</style>
